* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #212121;
  /* transition: width 0.4s ease-in-out; */
  /* box-shadow: 1px 1px 1px 1px rgb(5, 5, 165); */
  border-radius: 2px;
}

#search-box:focus {
  outline: none !important;
  border: 2px solid #719ece;
}

.country-list {
  list-style: none;
  margin: 0;
  line-height: 100%;
  padding-inline-start: 0;
  /* display: flex;
  flex-direction: column; */
}
.country-list li {
  display: flex;
  align-items: center;
  max-height: 2rem;
}
.country-info {
  max-width: 320px;
}
.country-info .wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.country-info h1 {
  margin: 0;
  line-height: 100%;
  font-size: 2rem;
}
.country-list img,
.country-info img {
  /* display: flex;   */
  width: 1.5em;
  height: 1rem;
  margin-right: 1rem;
}
